/* reset */
body { margin:0; font:12px sans-serif; background:#f1f1f1; }
a { text-decoration:none; color:inherit; }
a:hover { text-decoration:underline; }

#global { width:580px; margin:auto }
h1 { display:inline-block; margin:1em 0; font-size:34px; color:#666; }
h1 > * { vertical-align:middle; }
h1 > a { display:inline; margin-left:1em; font-size:14px; font-weight:bold; opacity:0.6; }
h1 > div { margin-left:15px; margin-top:-23px; }

.features { margin-top:0; margin-bottom:2em; }

#dragndrop:after { content: ""; display: block; clear: both; }
#dragndrop {
	position: relative;
	width: 100%;
	margin: auto;
	padding-bottom: 10px;
	border-radius: 4px;
	background: rgba(0,0,0,0.1);
}

.jqdnd-drop {
	float: left;
	width: 275px; /* 4*64=256 + 19 */
	height: 180px; /* 5 * 36 */
	margin: 10px 0 0 10px;
	border-radius: 2px;
	overflow-y: scroll;
	font: normal 1px courier;
	background: rgba(255,255,255,0.8);
}

.jqdnd-drop.hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	background: #fff;
}

.jqdnd-drag,
.jqdnd-dragHole {
	height: 36px;
}

.jqdnd-drag {
	width: 64px;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
